
.menu_mobile, .open{display: none;}
@media(max-width: 767px) {
    .menu, .top_social{
        display: none;
    }
    .open{
        display: block;
        font-size: 19px;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 6px;
        cursor: pointer;
    }
    .close{
        float: right;
        margin-right: 20px;
        background-color: transparent;
        border: none;
    }

    
    .open_btn img{
        width: 75px;
        height: 75px;
        cursor: pointer;
        
    }

    .close_btn img{
        width: 75px;
        height: 75px;
        cursor: pointer;
    }
    
    .parent__header{
        display: block;
    }
    .menu_mobile{
        display: block;
        display: block;
        position: fixed;
        background: #f44336;
        width: 100%;
        height: 100%;
        top: 0;

        ul{
            list-style: none;

            li{
                line-height: 50px;
                font-size: 30px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
                a{
                    color: #fff;
                }
            }
        }
    }
    .hide{
        display: none;
    }

    .logo {
        position: relative;
        top: 28px;
    }
}